### Core Python Programming
* Basic IO [Input/Output] (Reading value from Keyboard and Display)
* Core Python
    * Characters Set
    * Keywords
    * Identifiers
    * Varaibles
    * Data Type 
        * Value Type - bool, int, float, complex
        * Collections - array, str, list, tuple, set, dict
    * Type Conversion (str - > int | float -> str)
    * Operators
        * Arithmeric Operator (+, -, *, /, %)

#### Basic IO
* Reading value from Keyboard
* Display value

In [ ]:
# Reading value from Keyboard
    # input() function is used to read value from keyboard.

In [2]:
# Example
input() # call input function # read value from keyboard until press Enter.

dskjgkl lkj gljkg

'dskjgkl lkj gljkg'

In [ ]:
# re-using inputed value
    # placeholder =  input()

In [4]:
# Example
value1 = input()

asfjkashfkjashf kjsahf kjsahf kjhs fkhkkjh

In [ ]:
# Display value
    # print() function is used to display value.

In [6]:
#Example
print(value1)
print(value1)
print(value1)
print(value1)
print(value1)
print(value1)

asfjkashfkjashf kjsahf kjsahf kjhs fkhkkjh
asfjkashfkjashf kjsahf kjsahf kjhs fkhkkjh
asfjkashfkjashf kjsahf kjsahf kjhs fkhkkjh
asfjkashfkjashf kjsahf kjsahf kjhs fkhkkjh
asfjkashfkjashf kjsahf kjsahf kjhs fkhkkjh
asfjkashfkjashf kjsahf kjsahf kjhs fkhkkjh

In [8]:
# Task-1
    # Read your name and display.
    # Read your address and display.
    # Read you mobile no and display.
    # Read you email and display.

In [11]:
# input - read value from keyboard
myname = input()
myaddress = input()
mobileno = input()
email = input()

krishna aryal
Kathmandu

In [12]:
# print - display value
print(myname)
print(myaddress)
print(mobileno)
print(email)

krishna aryal
Kathmandu

In [1]:
# Task-2
    # Read two numbers and display sum (Addition) of them.

In [2]:
# Task-2 - Solution
num1 = input()
num2 = input()
num3 = num1+num2
print(num3)

3
2
32

In [17]:
# Reading Value from Keyboard with Prompt
pid = input("Enter ID : ") # Prompt and Input
# print(type(pid))

Enter ID : 2
<class 'str'>

In [13]:
print("ID : ", pid)# Label, Value

ID :  2

In [1]:
# Reading and Display Value
pid = input("Enter Your ID : ") # Reading value from Keyboard
print("Your id : ", pid) # Display value

Enter Your ID : 4
Your id :  4

In [ ]:
# Task
    # Accept id, name, address and display.
    # Accept first number, second number and display sum of them.

#### Core Python
* Characters Set
* Keywords
* Identifiers
* Varaibles

In [3]:
# Characters Set
    # Number of character (symbol) in language.
    # Used to create Statement. (words, operators - Sentence-> Statement)

In [4]:
# Exploring characters
import string

In [23]:
# help(string)
# ascii_letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
# ascii_lowercase = 'abcdefghijklmnopqrstuvwxyz'
# ascii_uppercase = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
# digits = '0123456789'
# hexdigits = '0123456789abcdefABCDEF'
# octdigits = '01234567'
# printable = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTU...
# punctuation = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
# whitespace = ' \t\n\r\x0b\x0c'

In [12]:
# Print all the characters of Character Set
print("ASCII CODE\tVALUE")
for i in range(256):
    print(i, " \t\t", chr(i))

ASCII CODE	VALUE
0  		  
1  		 
2  		 
3  		 
4  		 
5  		 
6  		 
7  		 
8  		 
9
10

11
12
13
14  		 
15  		 
16  		 
17  		 
18  		 
19  		 
20  		 
21  		 
22  		 
23  		 
24  		 
25  		 
26  		 
27  		 
28
29
30
31
32
33  		 !
34  		 "
35  		 #
36  		 $
37  		 %
38  		 &
39  		 '
40  		 (
41  		 )
42  		 *
43  		 +
44  		 ,
45  		 -
46  		 .
47  		 /
48  		 0
49  		 1
50  		 2
51  		 3
52  		 4
53  		 5
54  		 6
55  		 7
56  		 8
57  		 9
58  		 :
59  		 ;
60  		 <
61  		 =
62  		 >
63  		 ?
64  		 @
65  		 A
66  		 B
67  		 C
68  		 D
69  		 E
70  		 F
71  		 G
72  		 H
73  		 I
74  		 J
75  		 K
76  		 L
77  		 M
78  		 N
79  		 O
80  		 P
81  		 Q
82  		 R
83  		 S
84  		 T
85  		 U
86  		 V
87  		 W
88  		 X
89  		 Y
90  		 Z
91  		 [
92  		 \
93  		 ]
94  		 ^
95  		 _
96  		 `
97  		 a
98  		 b
99  		 c
100  		 d
101  		 e
102  		 f
103  		 g
104  		 h
105  		 i
106  		 j
107  		 k
108  		 l
109  		 m
110  		 n
111  		 o
112  		 p
113  		 q
114  		 r
115  		 s
116  		 t
117  		 u
118  		 v
119  		 w
120  		 x
121  		 y
122  		 z
123  		 {
124  		 |
125  		 }
126  		 ~
127  		 
128  		 
129  		 
130  		 
131  		 
132  		 
133
134  		 
135  		 
136  		 
137  		 
138  		 
139  		 
140  		 
141  		 
142  		 
143  		 
144  		 
145  		 
146  		 
147  		 
148  		 
149  		 
150  		 
151  		 
152  		 
153  		 
154  		 
155  		 
156  		 
157  		 
158  		 
159  		 
160
161  		 ¡
162  		 ¢
163  		 £
164  		 ¤
165  		 ¥
166  		 ¦
167  		 §
168  		 ¨
169  		 ©
170  		 ª
171  		 «
172  		 ¬
173  		 ­
174  		 ®
175  		 ¯
176  		 °
177  		 ±
178  		 ²
179  		 ³
180  		 ´
181  		 µ
182  		 ¶
183  		 ·
184  		 ¸
185  		 ¹
186  		 º
187  		 »
188  		 ¼
189  		 ½
190  		 ¾
191  		 ¿
192  		 À
193  		 Á
194  		 Â
195  		 Ã
196  		 Ä
197  		 Å
198  		 Æ
199  		 Ç
200  		 È
201  		 É
202  		 Ê
203  		 Ë
204  		 Ì
205  		 Í
206  		 Î
207  		 Ï
208  		 Ð
209  		 Ñ
210  		 Ò
211  		 Ó
212  		 Ô
213  		 Õ
214  		 Ö
215  		 ×
216  		 Ø
217  		 Ù
218  		 Ú
219  		 Û
220  		 Ü
221  		 Ý
222  		 Þ
223  		 ß
224  		 à
225  		 á
226  		 â
227  		 ã
228  		 ä
229  		 å
230  		 æ
231  		 ç
232  		 è
233  		 é
234  		 ê
235  		 ë
236  		 ì
237  		 í
238  		 î
239  		 ï
240  		 ð
241  		 ñ
242  		 ò
243  		 ó
244  		 ô
245  		 õ
246  		 ö
247  		 ÷
248  		 ø
249  		 ù
250  		 ú
251  		 û
252  		 ü
253  		 ý
254  		 þ
255  		 ÿ

In [4]:
# Character to ASCII Value
print(ord('A')) # Character to ASCII
print(chr(78)) # ASCII to Character

65
N

In [13]:
# Keywords
    # Reserved word of language. (Predefined words which have unique and universal meaning in specific language)

In [14]:
import keyword

In [17]:
#help(keyword)
print(keyword.kwlist)
k_words = keyword.kwlist
print(len(k_words))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [1]:
# Identifier - User Defined Key Words
    # Name of variable (placeholder), function, class, object, constraints and others - defined by programmer

# Naming Convensions
    # Must start with alphabet (a-z A-Z) but can accept _ too
    # Can have digit and _ (underscore) (a-zA-Z0-9_)
    # Identifiers are Case Sensitive
    # Can't be keyword
    # Can't repeate
    # Must be meaningfull

# Note
    # ClassName - PascalCase
    # varaible_name, function_name, object_name - snake_case
    # CONSTRAINTS - UPPERCASE

In [6]:
abc = 21
ABC = 32
_var = 12

# and = 89 # SyntaxError: invalid syntax
# 1var = 32  # SyntaxError: invalid syntax

In [35]:
print(_var)
print(abc)
print(ABC)

12
21
32

#### Varaibles
- Named memory location, where we can store, retrieve, update value at programs runtime.

In [2]:
# Declare variable
    # variable_name = value - direct value
    # variable_name = input() - value from keyboard
    # varaible_name - identifier naming convension

In [5]:
# Example-1
var1 = 20
var2 = 30
var3 = 32
print(var1)
print(var2)
print(var3)

var4 = input() # input from keyboard

var5 = var4 # value from other variable

20
30
32

In [4]:
# Example-2
num1 = 21
num2 = 3
result = num1+num2
print(result)

24

In [6]:
# Default Value
num1 = None # declare
num2 = 2 # declare and initialize
print(num2) # Value access # 2
num2 = 3 # Value update
print(num2) # 3

2
3

In [12]:
# Varaible and Value
var1 = None
print(var1)
var1 = True
print(var1)
var1 = False
print(var1)
var1 = 1
print(var1)
var1 = 123.456
print(var1)
var1 = 123456+789J
print(var1)
var1 ="heat" # String - Type
print(var1)
var1 = "and" # Keyword
print(var1)

None
True
False
1
123.456
(123456+789j)
heat
and

In [8]:
# Getting info about varable
var1 = 123
var2 = var1
print(var1) # Accessing value
print(var2) # Accessing value

123
123

In [80]:
# Type and Memory address
var1 = 89
print(var1) # Value
print(type(var1)) # value type of variable
print(id(var1)) # memory address of variable

print()
varN = 123
print(type(varN))
print(isinstance(varN, bool))
print(isinstance(varN, int))
print(isinstance(varN, float))

89
<class 'int'>
140725623857568

<class 'int'>
False
True
False

In [10]:
var1 = 78
var2 = var1
print(var1)
print(var2)
print(type(var1))
print(type(var2))
print(id(var1))
print(id(var2))

78
78
<class 'int'>
<class 'int'>
140725719277632
140725719277632

In [12]:
var2 = 7
print(var1)
print(var2)
print(id(var1))
print(id(var2))

78
7
140725719277632
140725719275360

In [13]:
var1 = 58
var2 = 58
var3 = 58
print(id(var1))
print(id(var2))
print(id(var3))

140725719276992
140725719276992
140725719276992

In [14]:
# Delete the variable
del var1
del var2
del var3

In [16]:
# print(var1) # NameError: name 'var1' is not defined

In [4]:
from sys import getsizeof

In [22]:
var1 = 123456789123456789123456789123456789123456789123456789123456789123456789123456789123456789123456789123456789123456789123456789123456789123456789
print(getsizeof(var1))# bits

88

In [23]:
# Task
    #1. Retrieve value from memory address. (140725719276992) # Dec 7, 2020 - Submission Date/Line

In [29]:
var1 = True # Decalre and Assign
print(var1)
print(id(var1))  # 140725718996816

var1 = False
print(var1)
print(id(var1)) # 140725718996848

var1 = True
print(var1)
print(id(var1)) # 140725718996816

True
140725718996816
False
140725718996848
True
140725718996816

In [34]:
var1 = None
print(var1)
print(id(var1))

var1 = True
print(var1)
print(id(var1))

var1 = False
print(var1)
print(id(var1))

var1 = 123
print(var1)
print(id(var1))

var1 = 123.456
print(var1)
print(id(var1))

None
140725719046272
True
140725718996816
False
140725718996848
123
140725719279072
123.456
2272469720784

### Data Types 
#### Value Type (Single Value)
* None
* bool - Boolean (True/False)
* int - Integer Number
* float - Floatng Point Number
* complex - Complex Number

#### Collections Type (Multi-Values)
* array - Collection of Numbers (similary types)
* str - String (Read Only)
* list - List (Any types, Read and Write)
* tuple - Tuple (Any types, Read Only)
* set - Sets (Any tupes, Read only, Unique)
* dict - Dictionary (key: value)

#### None

In [43]:
# None - Nothing
var1 = None
print(var1)
print(type(var1))
print(id(var1))
print(getsizeof(var1))

None
<class 'NoneType'>
140725719046272
16

#### bool - Boolean (True/False)

In [42]:
# bool - Boolean (True/False) # VVIP
var1 = False
print(var1)
print(type(var1))
print(id(var1))
print(getsizeof(var1))

False
<class 'bool'>
140725718996848
24

#### int -Integer Numebr (Whole Number)

In [48]:
# int - Integer (Whole Number) # VVIP
var1 = 123
print(var1)
print(type(var1))
print(id(var1))
print(getsizeof(var1))

123
<class 'int'>
140725719279072
28

#### float - Floating Point Number (Decimal Value)

In [5]:
# float - Real Number (Decimal Value) # VVIP
var1 = 123.584754754756
print(var1)
print(type(var1))
print(id(var1))
print(getsizeof(var1))

123.584754754756
<class 'float'>
2664700844848
24

### complex - Complex Number (real number + imaginary number)

In [6]:
# complex (real_part+imaginary_part) ?
var1 = 12345+6789J # 12345+6789j
print(var1)
print(type(var1))
print(id(var1))
print(getsizeof(var1))

(12345+6789j)
<class 'complex'>
2664700844560
32

#### Note 
* bool - True | False
* int - 1234
* float - 1234.56789

#### Collections Type (Multi-Values)
* array - Collection of numbers.
* str " " - String (name, address, email, phone, others) - " " | """ """ | ' ' | ''' '''
* list [ ] - List (Multiple values of any types) [value1, valu2, ...., valueN] - Read and Write
* tuple ( ) - Tuple (Multiple values of any types) - Read Only
* set { } - Sets (Collection of unique elements) - Read Only
* dict {key: value} - Dictionary (Key:value-collections) -  Read and Write

#### array - Collection of Numbers

In [66]:
from array import array

In [69]:
# declare
array1 = array('i', [2, 4, 5, 7, 3, 2, 6])
array2 = array1

In [70]:
print(array1)
print(array2)

array('i', [2, 4, 5, 7, 3, 2, 6])
array('i', [2, 4, 5, 7, 3, 2, 6])

In [72]:
print(type(array1))
print(type(array2))

<class 'array.array'>
<class 'array.array'>

In [73]:
print(id(array1))
print(id(array2))

2664735295088
2664735295088

In [74]:
print(getsizeof(array1))
print(getsizeof(array2))

92
92

In [78]:
print(len(array1))
print(min(array1))
print(max(array1))
print(sum(array1))

7
2
7
29

In [83]:
# indexing
print(array1[0])
print(array1[1])
# print(array1[9]) # IndexError: array index out of range

# Slicing
print(array1[:])
print(array1[::2])
print(array1[::-1])

2
4
array('i', [2, 4, 5, 7, 3, 2, 6])
array('i', [2, 5, 3, 6])
array('i', [6, 2, 3, 7, 5, 4, 2])

In [84]:
# Upate
array1[4] = 9
print(array1)

array('i', [2, 4, 5, 7, 9, 2, 6])

#### str - String

In [51]:
# String
    # Individual Character of Characters Set - Character (Character Value (Symbol)| ASCII Value (Number))    
    # A, B, C, Z, 1, 0, +, -, /, ?,.....~ : Each character have unique identification number - ASCII Value
    # Single or multiple characters within " " or """ """ or ' ' or ''' '''

In [59]:
var1 = "123"
var2 = """123"""
var3 = '123'
var4 = '''123'''

print(var1)
print(type(var1))
print(id(var1))
print(getsizeof(var1))

123
<class 'str'>
2272469495600
52

In [62]:
# Collection
print(len(var1))
print(max(var1))
print(min(var1))
# print(sum(var1))  # Numeric type (int, float)

3
3
1

In [2]:
# index - position of indvidual character in string
str1 = "String" # Characters - 6 (index 0 to 6-1 (i.e. 5))
"""
   S   t   r   i   n   g
   0   1   2   3   4   5  Positive Indexing
  -6  -5  -4  -3  -2  -1  Negative Indexing
"""

In [28]:
# Multi-line comment
"""
print(str1)
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[4])
print(str1[5])
# print(str1[6]) # IndexError: string index out of range
"""
print(str1[-1])
print(str1[-6])
# print(str1[-7]) # IndexError: string index out of range
print()

print(type(str1[0]))
print()
print(id(str1))
print()
print(id(str1[0]))
print(id(str1[1]))
print(id(str1[2]))
print(id(str1[3]))
print(id(str1[4]))
print(id(str1[5]))

g
S

<class 'str'>

1959784697648

1959780615152
1959778903536
1959778712112
1959778928496
1959778928752
1959780729456

In [45]:
# Slicing
str1 = "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
print(len(str1))
# variable[start:stop]
print(str1[0:5]) # 0 to less than 5
print(str1[1:3]) # 1 to less than 3
# print(str1[0:100]) # 0 to less than 100
print(str1)
print(str1[0:100:3])# start:stop:step by
print(str1[0:len(str1): 1])# start:stop:step by

74
Lorem
or
Lorem Ipsum is simply dummy text of the printing and typesetting industry.
LeIuisp m xot ii dystgnsy
Lorem Ipsum is simply dummy text of the printing and typesetting industry.

In [51]:
print(str1[::])
print(str1[::2])
print(str1[::3])
print(str1[::-1])

Lorem Ipsum is simply dummy text of the printing and typesetting industry.
LrmIsmi ipydmytx ftepitn n yeetn nuty
LeIuisp m xot ii dystgnsy
.yrtsudni gnittesepyt dna gnitnirp eht fo txet ymmud ylpmis si muspI meroL

### list - List - Collection of any type of value or multiple values

In [62]:
list1 = [4, 5, 6, 7, 8]

list2 = [True, False, 123, 4567.89, 12345+6789j, "Kathmandu"]

list3 = [1, 'Bibek Rawat', 'Makalbari, Kathmandu', '985432123']
list4 = [2, 'Arjun Bhatarai', 'Pepsicola, Kathmandu', '985438954']
list5 = [3, 'Nila Rai', 'Balaju, Kathmandu', '9854345178']
list6 = [4, 'Puskar Karki', 'Kalanki, Kathmandu', '9847586941']
list7 = [5, 'Anish Bhattarai', 'Pepsicola, Kathmandu', '7894561235']

print(list1)
print(list2)
print(list3)
print(list4)
print(list5)
print(list6)
print(list7)
print()

persons = [list3, list4, list5, list6, list7]
print(persons)# Nested List

[4, 5, 6, 7, 8]
[True, False, 123, 4567.89, (12345+6789j), 'Kathmandu']
[1, 'Bibek Rawat', 'Makalbari, Kathmandu', '985432123']
[2, 'Arjun Bhatarai', 'Pepsicola, Kathmandu', '985438954']
[3, 'Nila Rai', 'Balaju, Kathmandu', '9854345178']
[4, 'Puskar Karki', 'Kalanki, Kathmandu', '9847586941']
[5, 'Anish Bhattarai', 'Pepsicola, Kathmandu', '7894561235']

[[1, 'Bibek Rawat', 'Makalbari, Kathmandu', '985432123'], [2, 'Arjun Bhatarai', 'Pepsicola, Kathmandu', '985438954'], [3, 'Nila Rai', 'Balaju, Kathmandu', '9854345178'], [4, 'Puskar Karki', 'Kalanki, Kathmandu', '9847586941'], [5, 'Anish Bhattarai', 'Pepsicola, Kathmandu', '7894561235']]

In [52]:
# indexing [4, 5, 6, 7, 8]  - Pick/Update-Edit
# print(list1[5])
print(list1[2])
print(list1[0])
print(list1[4])
# print(list1[6]) # IndexError: list index out of range

# slicing - Pick - Extract
print(list1[0:6])
print(list1[::-1])

6
4
8
[4, 5, 6, 7, 8]
[8, 7, 6, 5, 4]

In [53]:
# Update value on list
list1[2] = 9
print(list1)

[4, 5, 9, 7, 8]

In [59]:
# Print all the items of list
print(list1)

for item in list1:
    print (item, end=' ')

[4, 5, 9, 7, 8]
4 5 9 7 8

In [60]:
# Collection functions
print(len(list1))
print(max(list1))
print(min(list1))
print(sum(list1))

5
9
4
33

#### tupel - () Tuple - Collections of multuple values - Read Only, Function Parameter

In [10]:
# Declare
tuple1 = (4, 5, 6, 7, 8)
tuple2 = tuple1

print(tuple1)
print(tuple2)
print(type(tuple1))
print(type(tuple2))
print(id(tuple1))
print(id(tuple2))
print(getsizeof(tuple1))
print(getsizeof(tuple2))

(4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
<class 'tuple'>
<class 'tuple'>
2664700207328
2664700207328
80
80

In [12]:
# iteration 
print(tuple1)
for item in tuple1:
    print(item, end =' ')

(4, 5, 6, 7, 8)
4 5 6 7 8

In [18]:
# Indexing
print(tuple1[0])
print(tuple1[4])
# print(tuple1[5]) # IndexError: tuple index out of range

print(tuple1[-1])
print(tuple1[-5])
# print(tuple1[-6]) # IndexError: tuple index out of range

4
8
8
4

In [20]:
# Slicing
print(tuple1[::])
print(tuple1[::-1])

(4, 5, 6, 7, 8)
(8, 7, 6, 5, 4)

In [29]:
# collection methods
print(min(tuple1))
print(max(tuple1))
print(sum(tuple1))
print(len(tuple1))

4
8
30
5

#### set - {} Sets (Collection of unique elements)

In [27]:
# decalre
set1 = {3,4,5,6,7,8,9,0,2,2,4,1,3,3,5,6,7}
set2 = set1
print(set1)
print(set2)
print(type(set1))
print(type(set2))
print(id(set1))
print(id(set2))
print(getsizeof(set1))
print(getsizeof(set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>
<class 'set'>
2664701795904
2664701795904
728
728

In [31]:
# indexing -No
# print(set1[0]) # TypeError: 'set' object is not subscriptable

In [33]:
# Slicing - No
# print(set1[::]) # TypeError: 'set' object is not subscriptable

In [34]:
# Iterating
for item in set1:
    print(item, end=" ")

0 1 2 3 4 5 6 7 8 9

In [37]:
# collection methods
print(min(set1))
print(max(set1))
print(sum(set1))
print(len(set1))

0
9
45
10

#### dict {key: value} - Dictionary (Key:value-collections) -  Read and Write - WEB API

In [65]:
# decalre
dict1 = {'id': 1, 'fullname': 'Raj Rai', 'caddress':'Ktm'}
dict2 = dict1

print(dict1)
print(dict2)
print(type(dict1))
print(type(dict2))
print(id(dict1))
print(id(dict2))
print(getsizeof(dict1))
print(getsizeof(dict2))

{'id': 1, 'fullname': 'Raj Rai', 'caddress': 'Ktm'}
{'id': 1, 'fullname': 'Raj Rai', 'caddress': 'Ktm'}
<class 'dict'>
<class 'dict'>
2664734998784
2664734998784
232
232

In [45]:
# indexing
# print(dict1[0]) # KeyError: 0

# slicing
# print(dict1[::]) # IndentationError: unexpected indent

In [54]:
# Retrieve value
print(dict1)
print()
print(dict1['id'])
print(dict1['fullname'])
print(dict1['caddress'])
print()
print(dict1.items())
print()
print(dict1.keys())
print()
print(dict1.values())

{'id': 1, 'fullname': 'Raj Rai', 'caddress': 'Ktm'}

1
Raj Rai
Ktm

dict_items([('id', 1), ('fullname', 'Raj Rai'), ('caddress', 'Ktm')])

dict_keys(['id', 'fullname', 'caddress'])

dict_values([1, 'Raj Rai', 'Ktm'])

In [56]:
# updating
dict1['id']=34
print(dict1)

{'id': 34, 'fullname': 'Raj Rai', 'caddress': 'Ktm'}

In [57]:
# Key - ADD
dict1['email']='info@gmail.com'

In [58]:
print(dict1)

{'id': 34, 'fullname': 'Raj Rai', 'caddress': 'Ktm', 'email': 'info@gmail.com'}

In [60]:
# key - delete
del dict1['email']

In [61]:
print(dict1)

{'id': 34, 'fullname': 'Raj Rai', 'caddress': 'Ktm'}

In [62]:
# Iteration
for key, value in dict1.items():
    print(key, value)

id 34
fullname Raj Rai
caddress Ktm

In [63]:
for key in dict1.keys():
    print(key)

id
fullname
caddress

In [64]:
for value in dict1.values():
    print(value)

34
Raj Rai
Ktm

#### Type Conversion
Convert data from one type to another type.
- bool, int, float, complex, str, array, list, tuple, set, dict

In [34]:
from array import array

var1 = True
print(type(var1))

var2 = int(var1) # bool to int
print(type(var2))

var3 = float(var1) # bool to float
print(type(var3))

var4 = complex(var1)# bool to complex
print(type(var4))

var5 = str(var1)
print(type(var5))

# var6 = array(var1) # TypeError: array() argument 1 must be a unicode character, not bool
# print(type(var6))

# var6 = list(var1) # TypeError: 'bool' object is not iterable
# print(type(var6)) 

# var6 = tuple(var1) # TypeError: 'bool' object is not iterable
# print(type(var6)) 

# var6 = set(var1) # TypeError: 'bool' object is not iterable
# print(type(var6)) 

# var6 = dict(var1) # TypeError: 'bool' object is not iterable
# print(type(var6))

<class 'bool'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [ ]:
# Task
    # bool -> int, float, complex, str, array, list, tuple, set, dict
    # int -> bool, float, complex, str, array, list, tuple, set, dict
    # float -> bool, int, complex, str, array, list, tuple, set, dict
    # complex -> bool, int, float, str, array, list, tuple, set, dict
    # str -> bool, int, float, complex, array, list, tuple, set, dict
    # array -> bool, int, float, complex, str, list, tuple, set, dict
    # list -> bool, int, float, complex, str, array, tuple, set, dict
    # tuple -> bool, int, float, complex, str, array, list, set, dict
    # set -> bool, int, float, complex, str, array, list, tuple, dict
    # dict -> bool, int, float, complex, str, array, list, tuple, set

#### Operators
Special Alphabet/Character which can instruct CPU to perform certain task.

- Operator - Individual/group of symbol(s) to perform certain task. | Process
- Fuction/Command/Methods/Properties - Group of code to peform certain task.

##### Types 
* Assignment Operator
    - Simple Assignment
    - Multiple Assignment
    - Short-hand Assignment
* Arithmetic Operators (+, -, *, * *', /, //, %) 
    - Value (Numerical - int, float)
    - Two values
* Conditional Operator (Comparision Operator) - (==, !=, >, <, >=, <=)
    - Compares two values and generate boolean result.
* Logical Operator - and, or, not
    - Compares two or more than two conditions and generate single boolean result
* Others Operator
    - Identity Operator - is , is not
    - Membership operator - in, not in
    - Dot operator - .

### Assignment Operator
    - Simple Assignment ( var1 = value)
    - Multiple Assignment ( var1 = var2 = value)
    - Short-hand Assignment (var1 +=52)

In [64]:
# Simple Assignment ( var = value)
var1 = 32
print(var1)

var1, var2 = 45, 54
print(var1, var2)

print("var1 ", var1)
print("var2 ", var2)

var1, var2 = var2, var1
print(var1, var2)

32
45 54
var1  45
var2  54
54 45

In [65]:
# Multiple Assignment ( var1 = var2 = value)
var1 = var2 = var3 = 85
print(var1, var2, var3)

85 85 85

In [66]:
# Short-hand assignment (var1 += value)
var1  = 8
var1 = var1+5
print(var1)

var1+=7 # var1=var1+7
print(var1)

13

In [4]:
# Arithmetic Operators
# + (Sum), - (Sub), * (Prd), / (Div)

# Boolean
var1 = True # 1
var2 = True # 1
var3 = var1 + var2
print(var3)

var1 = False # 0
var2 = True # 1
var3 = var1 + var2
print(var3)

# integer number
var1 = 10
var2 = 32
var3 = var1+var2
print(var3)

# float number
var1 = 10.25
var2 = 32.32
var3 = var1+var2
print(var3)

2
1
42
42.57

In [22]:
import math
# Static Program
var1 = 10.25
var2 = 32.32
var3 = var1+var2
print(var3)

# Task
var1 = input("Enter first no : ")# String -> Keyboard, File, Database, WebSite (Network)
var2 = input("Enter second no : ") # String

var1 = float(var1) # Convert to Integer # ValueError: invalid literal for int() with base 10: '21.36'
var2 = float(var2) # Convert to Integer # ValueError: invalid literal for int() with base 10: '21.36'

var3 = var1+var2
print(var3)
var3 = var1-var2
print(var3)
var3 = var1*var2
print(var3)
var3 = var1/var2 # Float point Division
print(var3)
var3 = var1//var2 # Integer Division
print(var3)
var3 = var1%var2 # Remainder
print(var3)

print(2**3)

print(math.pow(2, 3))
print(math.sqrt(25))

42.57
Enter first no : 58
Enter second no : 2
60.0
56.0
116.0
29.0
29.0
0.0
8
8.0
5.0

#### Conditional Operator (Comparision Operator) - (==, !=, >, <, >=, <=)

In [41]:
var1 = 25
var2 = 25

In [49]:
# Equals To 
result = (var1 == var2)
print(result)

True

In [48]:
# Not Equals To 
result = (var1 != var2)
print(result)

False

In [47]:
# Greater Than 
result = (var1 > var2)
print(result)

False

In [45]:
# Less Than 
print(var1)
print(var2)
result = (var1 < var2)
print(result)

25
25
False

In [44]:
# Greater Than or Equals To
print(var1)
print(var2)
result = (var1 >= var2)
print(result)

25
25
True

In [46]:
# Less Than or Equals To
print(var1)
print(var2)
result = (var1 <= var2)
print(result)

25
25
True

#### Logical Operator - and, or, not

In [51]:
# Logical And Operator
var1 = 35
var2 = 32
var3 = 23
result = (var1 > var2) and (var1 > var3)
print(result)

True

In [53]:
# Logical or Operator
var1 = 35
var2 = 32
var3 = 75
result = (var1 > var2) or (var1 > var3)
print(result)

True

In [57]:
# not Operator - Reverse Result (True->False or False->True)
var1 = 9
var2 = 7
result1 =  (var1>var2)
result2 =  not (var1>var2)
print(result1)
print(result2)

True
False

In [74]:
# Others Operator
# Identity Operator - is , is not
var1 = 20
var2 = 20
print(var1 is var2)
print(var1 is not var2)

print()
var1 = 21
var2 = 20
print(var1 is var2)
print(var1 is not var2)

True
False

False
True

In [83]:
# Membership operator - in, not in
list1 = [2, 3, 4, 2, 1, 6, 7, 3, 4, 2, 3, 4, 2, 1, 6, 7, 3, 4, 2, 3, 4, 2, 1, 6, 7, 3, 4, 2, 3, 4, 2, 1, 6, 7, 3, 4, 5, 6, 7,8, 8, 9, 1, 2,3, 5,6,7,8,9,0,6,55,2,3,4,6,78]
var1 = 5
print(var1 in list1)
print(var1 not in list1)

True
False

In [87]:
# Dot operator - .
import math
print(math.pow(2, 3)) # Python Program File.Function()
print(math.sqrt(58))

8.0
7.615773105863909

In [88]:
# help(math)