### 1. While Loop

In [1]:
#Example-1
start_value = 1
stop_value = 10
while(start_value<=stop_value):
    print("Hello")
    start_value+=1

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [2]:
# Example-2
start_value = 1
stop_value = int(input("How many time ? "))
while(start_value<=stop_value):
    print("Hello")
    start_value+=1

How many time ? 10
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [3]:
# Print 1 ten times.     
start_value = 1
stop_value = 10
value = 1
while(start_value<=stop_value):
    print(value)
    start_value+=1

1
1
1
1
1
1
1
1
1
1

In [4]:
# Print 1 N times.     
start_value = 1
stop_value = int(input("How many times ? : "))
value = 1
while(start_value<=stop_value):
    print(value)
    start_value+=1

How many times ? : 50
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [5]:
# Print 1-10.
start_value = 1
stop_value = 10
while (start_value<=stop_value):
    print(start_value)
    start_value+=1

1
2
3
4
5
6
7
8
9
10

In [6]:
# Print 10-1.
start_value = 10
stop_value = 1
while (start_value>=stop_value):
    print(start_value)
    start_value-=1

10
9
8
7
6
5
4
3
2
1

In [7]:
# Print even numbers between 1 to 10.
# 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 - [2, 4, 6, 8, 10]
# 10/2 if remainder equals to 0 than number if even.

start_value = 1
stop_value = 10
while (start_value<=stop_value):
    if start_value % 2 == 0:
        print(start_value)
    start_value+=1

2
4
6
8
10

In [8]:
# Print odd numbers between 1 to 10.
# 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 - [1, 3, 5, 7, 9]
# 10/2 if remainder equals to 1 than number if odd.

start_value = 1
stop_value = 10
while (start_value<=stop_value):
    if start_value % 2 == 1:
        print(start_value)
    start_value+=1

1
3
5
7
9

In [9]:
# Print sum of 1 to 10.
start_value = 1
stop_value = 10
sum = 0
while (start_value<=stop_value):
    sum+=start_value
    start_value+=1
print(sum)

55

### 2. for loop

In [10]:
# Print Hello 10 times.
for i in range(10):# i = 0 to Less than 10 (0-9)
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [11]:
# Print 1 10 times.
num1 = 1
for i in range(10):
    print(num1)

1
1
1
1
1
1
1
1
1
1

In [12]:
# Print 1 to 10.
for i in range(10):
    print(i)
# 0-9

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
# Print 1 to 10 - odd/even numbers.
for i in range(1, 11):
    if i%2==0:
        print(i)
print()
for i in range(1, 11):
    if i%2==1:
        print(i)

2
4
6
8
10

1
3
5
7
9

In [15]:
sum=0
for i in range(1, 11):
    sum+=i
print(sum)

55

In [16]:
# Nested Loop
for i in range(1, 6):
    for j in range(6, 11):
        print(i, j)

1 6
1 7
1 8
1 9
1 10
2 6
2 7
2 8
2 9
2 10
3 6
3 7
3 8
3 9
3 10
4 6
4 7
4 8
4 9
4 10
5 6
5 7
5 8
5 9
5 10

In [17]:
# Loop with list/tuple/set

list1 = [7, 3, 4, 5, 6, 7, 8, 7,3,2,2,3,4,5]

# Style-1
for i in range(len(list1)):
    print(list1[i])

print()
# Style-2
for item in list1:
    print(item)
print()

7
3
4
5
6
7
8
7
3
2
2
3
4
5

7
3
4
5
6
7
8
7
3
2
2
3
4
5

In [18]:
# Looping with dictionary
dict1 = {'sn':1, 'name':'Krishna', 'address':'KTM'}

for key, value in dict1.items():
    print(key, value)

print()        
for key in dict1.keys():
    print(dict1[key])

print()    
for value in dict1.values():
    print(value)

sn 1
name Krishna
address KTM

1
Krishna
KTM

1
Krishna
KTM

In [19]:
# Break Statement
for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [20]:
# Continue Statement
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [21]:
# return
def how_r_y():
    return "I am fine"

print(how_r_y())

I am fine

In [22]:
# pass
def what_is_your_name():
    pass

print(what_is_your_name())

None

In [24]:
# Steps in Loop
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

### Nested Loop

In [5]:
for i in range(1, 4):
    print(i)

1
2
3

In [4]:
for j in range(1, 4):
    print(j)

1
2
3

In [10]:
for i in range(1, 4): # Outer Loop 1 times
    print("i=", i)
    for j in range(1, 4): # Inner Loop 3 times
        print("\tj=",j)

i= 1
	j= 1
	j= 2
	j= 3
i= 2
	j= 1
	j= 2
	j= 3
i= 3
	j= 1
	j= 2
	j= 3

In [11]:
# Case Study-1
first_name = ['Krishna','Rupesh']
last_name = ['Aryal','Shrestha']
address = ['Balaju','Suryabinayak']

In [12]:
# Rupesh
first_name =["krishna", "Amit" "Rupesh", "Bishnu", "Sandesh", "kamal", "Hari", "Sita", "Geeta", "Aman", "Purna","Binita", "Sabina","Rabina", "Anil"]
last_name =["Aryal","Maharjan", "Shrestha", "Joshi", "GC", "KC", "Adikari", "Neupane", "Sharma", "Maskey","Baral","Dangol","Khadka", "Subedi", "Shakya"]
Address = ["Balaju","Suryabinak","Baneshwor", "Koteshwor","Jamal", "Patan", "sunakothi", "Pesicola","Kupando", "sanepa", "Gwarko", "satdobato", "Jorpati","maitidevi", "nayabazar"]

# Arjun
First_name = ['Krishna','Rupesh','Anish','Puskar','Arjun','usha','binayak','pradip','nirajan','rakesh']  
Last_name  = ['aryal','shrestha','bhattarai','karki','bhattarai','pokhrel','lamichanne','giri','basnet','kc']
Address_name = ['Balaju','Suryabinayak','Pepsicola','Tinkune','Pepsicola','Itahari','Pepsicola','Pepsicola','Pepsicola','Pepsicola']

# Nila
First_name = ['Ram','Shyam','Hari','Pradip','Lila','Keshav','Ashmita','Binita','Asha','Manita']
Last_name  = ['Rai','Pradhan','Katwal','Sherpa','Tamang','Joshi','K.C','Shrestha','Lama','Adhikary']
Address_name = ['Okhaldhunga','Suryabinayak','Swyambhu','Tinkune','Kapan','Pokhara','Solukhumbu','Baneshwor','Ramechaap','Sitapaila']

# Bibek
first_name = ['Bibek','Dev','Manish','Ram','Shyam','Isha','Binaya','Pradip','Birajan','Rohit']
last_name  = ['Thapa','Shrestha','Bhattarai','Karki','Bhattarai','Pokhrel','Lamichanne','Giri','Basnet','KC']
address_name = ['Balaju','Suryabinayak','Pepsicola','Tinkune','Jorpati','Itahari','Gaurighat','Baneshwor','Balaju','Okhaldhungha']

In [17]:
first_name = ["krishna", "Amit" "Rupesh", "Bishnu", "Sandesh", "kamal", "Hari", "Sita", "Geeta", "Aman", "Purna","Binita", "Sabina","Rabina", "Anil", 'Krishna','Rupesh','Anish','Puskar','Arjun','usha','binayak','pradip','nirajan','rakesh', 'Ram','Shyam','Hari','Pradip','Lila','Keshav','Ashmita','Binita','Asha','Manita', 'Bibek','Dev','Manish','Ram','Shyam','Isha','Binaya','Pradip','Birajan','Rohit','Anish']
last_name = ["Aryal","Maharjan", "Shrestha", "Joshi", "GC", "KC", "Adikari", "Neupane", "Sharma", "Maskey","Baral","Dangol","Khadka", "Subedi", "Shakya", 'aryal','shrestha','bhattarai','karki','bhattarai','pokhrel','lamichanne','giri','basnet','kc','Rai','Pradhan','Katwal','Sherpa','Tamang','Joshi','K.C','Shrestha','Lama','Adhikary',  'Thapa','Shrestha','Bhattarai','Karki','Bhattarai','Pokhrel','Lamichanne','Giri','Basnet','KC']
address = ["Balaju","Suryabinak","Baneshwor", "Koteshwor","Jamal", "Patan", "sunakothi", "Pesicola","Kupando", "sanepa", "Gwarko", "satdobato", "Jorpati","maitidevi", "nayabazar", 'Balaju','Suryabinayak','Pepsicola','Tinkune','Pepsicola','Itahari','Pepsicola','Pepsicola','Pepsicola','Pepsicola', 'Okhaldhunga','Suryabinayak','Swyambhu','Tinkune','Kapan','Pokhara','Solukhumbu','Baneshwor','Ramechaap','Sitapaila', 'Balaju','Suryabinayak','Pepsicola','Tinkune','Jorpati','Itahari','Gaurighat','Baneshwor','Balaju','Okhaldhungha']

45

In [18]:
# 45x45x45
45*45*45

91125

In [ ]:
# Output
    # person1 {'first_name':'Krishna', 'last_name':'Aryal','address':'Balaju'}
    # person91125 {'first_name':'Krishna', 'last_name':'Aryal','address':'Balaju'}